
/* Here you have to specified the path to the fontchid.ttf font */
@font-face {
      font-family: "fontchido";
      src: url("fonts/fontchido.ttf");
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontchido' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-archlinux:before {
  content: "A";
  font-size: 3rem;
}

.ic-archlinux-circle:before {
  content: "B";
  font-size: 3rem;
}

.ic-upwork:before{
  content: "C";
  font-size: 3rem;
}

.ic-upwork-circle:before{
  content: "D";
  font-size: 3rem;
}

.ic-dotnet:before {
  content: "E";
  font-size: 3rem;
}

.ic-codeigniter:before {
  content: "F";
  font-size: 3rem;
}

.ic-laravel:before {
  content: "G";
  font-size: 3rem;
}

.ic-taxcloud:before {
  content: "H";
  font-size: 3rem;
}

.ic-chep:before {
  content: "I";
  font-size: 3rem;
}

.ic-linux-tux:before {
  content: "J";
  font-size: 3rem;
}

.ic-server:before {
  content: "K";
}

.ic-webdevelopment:before {
  content: "L";
}

.ic-webdevelopment-black:before {
  content: "M";
}